body{
    margin: 0%;
    padding: 0%; 
}
main{
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    display: flex;
    align-items: center;
    margin-left: 390px;
    height: 20px;
} 
#heading1{
    margin-left: 200px;
    margin-right: 200px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    background-color: rgb(29, 28, 28);
    height: 80px;
    display: flex;
}
#logo{
   margin-left: 45px;
   margin-right: 35px;
   translate: 0px 25px;
}
.heading_text{
    color: white;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    font-weight: lighter;
    position: relative
}


.icons{
   margin-left: 20px;
   align-content: center;
   color: white;
   width: 20px;
}
#heart{
    margin-left: 150px;
}
#central_img{
    z-index: 0;
    width: 100%;
    translate: 0 -22px;
}
#scroll1{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: white;
    translate: 500px -20px;
}
#scroll2{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: grey;
    translate: 560px -25px;
}
#scroll3{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: grey;
    translate: 620px -30px;
}
#scroll4{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: grey;
    translate: 680px -35px;
}
#scroll5{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: grey;
    translate: 740px -40px;
}
#scroll6{
    z-index: 7;
    width: 45px;
    height: 5px;
    background-color: grey;
    translate: 800px -45px;
}
#categorybox{
    display: flex;
}
#categorytext{
    width: 80%;
    height: 288px;
    background-color: rgb(255, 254, 253);
    margin-right: px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#line_1{
    translate: 30px -30px;
    margin-bottom: 5px;
    font-size: 250%;
}
#line_2{
    margin-top: 10px;
    margin-right: 0;
    translate: -145px -2px;
    font-size: small;
    font-weight: 50;  
}
.category_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_arrow{
    z-index: 7;
    translate: 10px -200px;
    background-color: white;
    width: 8%;
    border-radius: 80%;
    border-style: solid;
    border-color: white;
    border-width: 10px; 
} 
#right_arrow{
    z-index: 7;
    translate: 175px -200px;
    background-color: white;
    width: 8%;
    border-radius: 80%;
    border-style: solid;
    border-color: white;
    border-width: 10px; 
} 
#Seller{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    translate: 0px -20px;
}  
#seller_head{
    background-color: rgb(250, 203, 210);
   margin-left: 4%;
   margin-right: 4%;
   height: 100px;
} 
#best_seller{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.seller_img{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
#seller_info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: lighter;
    margin-top: 0%;
    translate: 0px -15px;
}
#as_seen_img{
    margin-left: 4%;
    margin-right: 4%;
}
#product_infos{
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
}
#product_infos_1{
    display: flex;
}
#product_infos_2{
    display: flex;
}
#product_infos_bottom{
    background-color: rgb(29, 28, 28);
    margin-bottom: 50px;
    translate: 560% 0% ;
    margin-left: 7%;
    margin-right: 82%;
    border-style: solid;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    border-width: 2px;
}

h3{
    height: 20%;
    font-weight: lighter;    
}
#leftScrollImages{
    display: flex;
    height: 70%;
    margin-left: 4%;
}
